body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(70, 30, 125);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.countdown span {
    font-size: 2em;
    margin: 0 10px;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
}
