body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(70, 30, 125);
    color: white;
}

.container {
    text-align: center;
    padding-top: 5%;
}

h1 {
    font-size: 4em;
    margin-bottom: 40px;
}

.countdown span {
    font-size: 2em;
    margin: 0 10px;
}
